header{
    height: 100vh;
    margin-top: 7rem;
    overflow: hidden;
    width: 90%;
    margin: auto;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* Me */
.me{
    width: 60%;
    /* margin: auto; */
    background:linear-gradient( var(--color-primary), transparent);
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem;
    width: 22rem;
    height: 20rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
}
/* CTA */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* HeaderSocials */
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header_socials img{
    width: 1.2rem;
    height: 1.2rem;

}
.header_socials::after{
    content: '';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}
/* SCROLL DOWN */
.scroll_down{
    position: absolute;
    right: -1.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .9rem;
}

/* media query (medium screen) */
@media screen and (max-width:1024px) {
    
        header{
            /* height: 68vh; */
        }
    
}

/* media query (small screen) */
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header_socials,
    .scroll_down{
        display: none;
    }
}